@model Crud_MVC_Web_Application.Models.Product

@{
    ViewData["Title"] = "Details";
}

<h1>Product Details</h1>

<div class="container">
    <div class="card mb-3 shadow">
        <div class="card-body">
            <h4 class="card-title">@Model.Name</h4>  <hr />
            <dl class="row">
                <dt class="col-sm-3">
                    @Html.DisplayNameFor(model => model.Description)
                </dt>
                <dd class="col-sm-9">
                    @Html.DisplayFor(model => model.Description)
                </dd>
                <dt class="col-sm-3">
                    @Html.DisplayNameFor(model => model.Category)
                </dt>
                <dd class="col-sm-9">
                    @Html.DisplayFor(model => model.Category)
                </dd>
                <dt class="col-sm-3">
                    @Html.DisplayNameFor(model => model.Price)
                </dt>
                <dd class="col-sm-9">
                    @Html.DisplayFor(model => model.Price)
                </dd>
            </dl>

            <div class="mt-3 d-flex justify-content-between">
                <a asp-action="Edit" asp-route-id="@Model?.Id" class="btn btn-primary">Edit</a>
                <a asp-action="Index" class="btn btn-outline-secondary">Back to List</a>
            </div>
        </div>
    </div>
</div>
